@import "colours_font";

body {
  background-color: $beige;
}

@mixin normal-box {
  margin: 10px;
  padding: 10px 20px;
  border-radius: 25px;
  font-family: $main-font;
}

.main-page{
  width: 70%;
  margin: auto;
}

.header{
  @include normal-box;
  text-align: center;
  background-color: $blue;
  width: 100%;
  border: 3px solid $dark-purple;

  h1{
    color: $dark-purple;
  }
}

.fun-facts{
  @include normal-box;
  float: left;
  background-color: $pink;
  width: 30%;
  color: $beige;

  text-align: left;
}

.review-generator{
  @include normal-box;
  max-width: 50%;
  background-color: $grey-blue;
  float: left;

  button{
    @include normal-box;
    border: none;
    cursor: pointer;
    background-color: $dark-purple;
    color: $beige;
  }
}

.colour-change{
  @include normal-box;
  width: 100%;
  float: left;
  color: $beige;

  background-image: linear-gradient(120deg, $pink, $grey-blue, $dark-purple, $grey-blue, $pink);
  background-size: 300%;
  background-position: left;
  animation: gradient-animation 5s infinite alternate;
  
}

@keyframes gradient-animation {
  0%{
    background-position: left;
  }
  100%{
    background-position: right;
  }
}

.bouncy-circle{
  background-color: $pink;
  width: 80px;
  height: 80px;
  border-radius: 20px;
}